
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  display: flex;
	line-height: 1;
  height: 100vh;
  width: 100vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.left-main {
  background-image: url("img/background.jpeg");
  background-position: -200px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 20px;
  flex: 1 1 0;
}

.right-main {
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2 1 0;
}

.left-container {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.twice-photo {
  width: 500px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  top: -100px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  line-height: 1.5;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.photo-caption {
  font-size: 0.1em;
  text-align: right;
  color: white;
  position: relative;
  top: -100px;
}

.logo {
  margin: 5px;
  height: 100px;
  width: auto;
}

.logo-box {
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: rgba(31, 31, 31, 0.4);
  position: relative;
  top: -100px;
}

.logo-title {
  text-align: center;

}

.quote {
  position: relative;
  font-size: 1.5em;
  line-height: 1.5;
  top: -100px;
  font-family: 'Press Start 2P', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: rgba(225, 225, 225);
  width: 600px;
  margin: 10px;
}


*:visited {
  color:white;
}

form label {
  color: rgba(225, 225, 225);
  margin-bottom: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
}

div span {
  color: rgba(225, 225, 225);
}

form ul li {
  display: flex;
  flex-flow: column;
  width: 50%;
}

.form-box {
  background-color: rgb(41, 41, 41);
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 1);
  position: relative;
  top: -50px;
  width: 100%;
}

.form-box>* {
  margin: 20px 40px;
}


.login {
  align-self: flex-start;
  position: relative;
  top: 50px;
  left: 10%;
}

.login * {
  color: rgba(225, 225, 225);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-link {
  color: rgba(43, 255, 50, 1);
}

.login-link:hover {
  color: rgb(231, 255, 227);
}

.create {
  width: 50%;
  margin-top: 30px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(43, 255, 50, 0);
  border: 1px solid rgba(43, 255, 50, 1);
  color: rgba(43, 255, 50, 1);;
  font-weight: 400;
  padding: 4px 0 4px 0
}

.create:active {
  color: white;
}

.create:hover {
  background-color: rgb(43, 255, 50);
  color: black;
}


input {
  background-color: gray;
  border-radius: 5px;
  border: 1px solid black;
}

.inputs {
  display: flex;
}

.inputs>div {
  flex: 1 1 0;
}

.form-title {
  margin-top: 20px;
  font-size: 2em;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputs-left,
.inputs-right {
  display: flex;
  flex-flow: column;
  gap: 15px;
}


::placeholder {
  color: rgba(0, 255, 0, 0.2);
}

input:optional {
  opacity: .5;
}


input:focus {
  -webkit-appearance: none;
  border: 1px solid lime;
}