
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  display: flex;
	line-height: 1;
  height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







.left-main {
  background-image: url("img/background.jpeg");
  background-position: -200px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 20px;
}

.right-main {
  background-color: rgb(28, 28, 28);
  padding-right: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.twice-photo {
  height: 250px;
  border: 1px solid black;
  width: auto;
  border-radius: 15px;
  position: relative;
  top: -100px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  line-height: 1.5;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.photo-caption {
  font-size: 0.1em;
  text-align: right;
  color: white;
  position: relative;
  top: -100px;
}

.logo {
  margin: 5px;
  height: 100px;
  width: auto;
}

.logo-box {
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: rgba(31, 31, 31, 0.4);
  position: relative;
  top: -100px;
}

.logo-title {
  text-align: center;

}

.quote {
  position: relative;
  top: -150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}


*:visited {
  color:white;
}

form label {
  color: white;
}

div span {
  color: white;
}

form ul li {
  display: flex;
  flex-flow: column;
  width: 50%;
}

.form-box {
  background-color: rgb(53, 53, 53);
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.9);
  position: relative;
  top: -50px;

  margin-left: -20px;
  width: 130%;
}

.form-box>* {
  margin: 20px;
}


.login {
  position: relative;
  top: 50px;
}

.login * {
  color: white;
}

.create {
  width:30%;
}
